.userInfobutton{
    background-color: #00005e;
    color: #fff;
}

.historyButton{
    background-color: #00005e;
    color: #fff;
    margin-left: 20px;
}

.mat-dialog-outerContainer{
    padding: 75px;
}

.text-size{
    font-size: 20px;
    padding-bottom: 10px;
}